.container{
    display: grid;
    height: 700px;
    background-color: yellow;
    border: 1px solid red;
    /* grid-template-areas: 
    "hd"
    "side"
    "content" 
    " footer"; */
    grid-template-columns: 200px 400px;
    grid-template-rows: 30px 500px 30px;
    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";

}
.box{
    border: 1px solid green;
    background-color: aqua;
}
#head{
    grid-area: hd;
}
#side{
    grid-area: side;
}
#cont{
    grid-area: main;
}
#foot{
    grid-area: ft;
}